xterm*faceName: DejaVu Sans Mono:style=Book
xterm*faceSize: 10
xterm*selectToClipboard: true
xterm*foreground: rgb:ff/45/00
xterm*background: rgb:00/00/00

xscreensaver.Dialog.headingFont: -*-dejavu sans mono-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:    -*-dejavu sans mono-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:   -*-dejavu sans mono-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:   -*-dejavu sans mono-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:  -*-dejavu sans mono-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:    -*-dejavu sans mono-medium-r-*-*-11-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:  -*-dejavu sans mono-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.foreground:             #ffffff
xscreensaver.Dialog.background:             #111111
xscreensaver.Dialog.topShadowColor:         #111111
xscreensaver.Dialog.bottomShadowColor:      #111111
xscreensaver.Dialog.Button.foreground:      #333333
xscreensaver.Dialog.Button.background:      #ffffff
xscreensaver.Dialog.text.foreground:        #333333
xscreensaver.Dialog.text.background:        #ffffff
xscreensaver.passwd.thermometer.foreground: #cc0000
xscreensaver.passwd.thermometer.background: #000000
xscreensaver.passwd.thermometer.width:      8
xscreensaver.Dialog.internalBorderWidth:    24
xscreensaver.Dialog.borderWidth:            5
xscreensaver.Dialog.shadowThickness:        2
xscreensaver.dateFormat: %a, %e %b %Y %H:%M
